
@helper display啟用停用(bool status)
{
    if (status)
    {
        @:啟用
    }
    else
    {
        @:停用
    }
}

@helper CommonBlock()
{
    <p>Use this area to provide additional information.</p>
}
