@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "錯誤2";
}

<h1 class="text-danger">錯誤。</h1>
<h2 class="text-danger">處理您的要求時發生錯誤。</h2>

@using System.Data.Entity.Validation
@{
    var ex = Model.Exception as DbEntityValidationException;
}

<h3>所有驗證錯誤如下</h3>
<table class="table table-bordered">

    <tr>

        <th>屬性名稱</th>

        <th>錯誤訊息</th>
    </tr>
    @foreach (var eve in ex.EntityValidationErrors)
    {
        foreach (var err in eve.ValidationErrors)
        {
            <tr>
                <td> @err.PropertyName </td>
                <td> @err.ErrorMessage </td>
            </tr>
        }
    }
</table>